@font-face {
	font-family: SourceSansPro-reg;
	src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
	font-weight: 400;
}
@font-face {
	font-family:SourceSansPro-bold ;
	src: url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: Nunito-reg;
	src: url(../fonts/Nunito-Regular.ttf) format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: Nunito-bold;
	src: url(../fonts/Nunito-Bold.ttf) format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: OpenSans-reg;
	src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: OpenSans-bold;
	src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}
*{
	margin: 0;
	padding: 0;
	outline: 0px !important;
}

/*================================================================*/
/*=========================  body  ===============================*/
/*================================================================*/
/*.copy{
	overflow-x: hidden;
}*/
.top-bar{
	
	background-color: #333333;
}
.address p{
	padding-top:10px;
	font-size: 16px;
	font-family: SourceSansPro-reg;
}
.address{
	display: flex;
	color: #c2c2c2;
	margin-left: -15px;
}
.top-bar-content{
 display: flex;
 align-items: center;
 padding-right: 25px;
}
.address .icon{
	font-size: 20px;
	color: #f1b939; 
}
.social-link {
	height: 100%;
	display: flex;
	align-items: center;
}
.top-bar .social-link {
	justify-content: flex-end;
}
.top-bar .social-link a{
	margin-left: 10px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #5c5c5c;	
	color: #cccccc;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.top-bar .icon{
	margin: 15px;
}
.social-link .fb:hover{
	color: #3b5998;
}
.social-link .tw:hover{:;
	color:#00acee;
}
.social-link .gp:hover{
	color:#db4a39;
}
/*=======================  Navbar  ===========================*/
nav{
	font-family: SourceSansPro-reg;
	width: 100%;
	background-color: #ffffff;
}
.nav-body{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}
nav a{
	color:#333333;
}
.nav-content{
	width: 100;
	text-align: right;
}
.nav-button{
	height: 50px;
	width: 186px;
	border-radius: 3px;
	background-color:#f1b939; 
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
}
.nav-button a{
	color:#ffffff;
	padding-left: 8px !important;
}
.nav-button:hover{
	background-color: #e6b032;
}
.nav-button a:hover{
	color:#ffffff;
}
nav a:hover{
	color: #f1b939;
}
nav button{
	outline: none !important;
	border: 1px solid #000 !important;
	color: #000;
	border-radius: 5px;
	margin-top: 17px;
}
/*=======================  Header  ===========================*/
.header{
	width: 100%;
	background-image:linear-gradient(to right, rgba(114,114,114,.6) , rgba(114,114,114,.6)), url(../images/bgHead.jpg);
	background-size: cover;
}

.head-body{
	width: 100%;
	padding: 180px 0 260px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.header h1{
	margin: 0;
	padding-bottom: 30px;
	color:#f2f2f2;
	font-family: Nunito-bold;
	font-size: 55px;
	text-transform: uppercase;
	line-height: 58px;
}
.header p{
	width: 45%;
	color:#f2f2f2;
	font-family: SourceSansPro-reg;
	font-size: 16px;
	line-height: 25px;
	padding: 0px 0 14px;
	text-align: center;
}
.header a{
	display: block;
	width: 180px;
	height: 50px;
	border-radius: 3px;
	background-color: #f1b939;
	color:#ffffff;
	font-family: Nunito-bold;
	font-size: 16px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header a:hover{
	background-color: #e6b032;
}

/*=======================  About  ===========================*/
.about{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 90px 0 70px;
}
.about-body {
	width: 100%;
	padding-top: 40px;
}
.about-body h4::before{
	content: ".";
	font-size: 0px;
	display: block;
	width: 45px;
	border-top: 2px solid #f1b939;
	position: relative;
	top: 12px;
	right: 60px
}
.about-body h4{
	padding-left: 60px;
	padding-bottom: 7px;
	font-family: Nunito-reg;
	font-size: 20px;
	color: #f1b939;	
}
.about-body h1{
	width: 80%;
	margin: 0;
	font-family: SourceSansPro-bold;
	font-size: 45px;
	line-height: 54px;
	color: #333333;
	padding-bottom: 30px;
}
.about-body p{
	width: 95%;
	font-family: SourceSansPro-reg;
	font-size: 16px;
	line-height: 25px;
	color: #666666;
	margin-bottom: 0;
	padding-bottom: 7px;
}
.about-body a{
	display: block;
	width: 180px;
	height: 50px;
	border-radius: 3px;
	background-color: #f1b939;
	color:#ffffff;
	font-family: Nunito-bold;
	font-size: 16px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-body a:hover{
	background-color: #e6b032;
}

.about-body a::after
{
	display: block;
	content: "";
	font-size: 0px;
	height: 35px;
	border-left: 1px solid #e5e5e5;
	position: relative;
	left: 75px;
}
.about-contact{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 40px 0 40px;
}
.about-contact p{
	width: 100%;
	position: relative;
	left:45px;
	font-family: SourceSansPro-reg;
	font-size: 20px;
	color: #666666;
}
.about-image{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 40px;
}
.about-image-lg{
	max-height: 470px;
	max-width: 500px;
	border-radius: 3px;
	background-color: #e5e5e5;
	margin-bottom: 30px;
}
.about-image-lg img{
	width: 100%;
	height: auto;
}
.about-image-sm{
	max-width: 235px;
	max-height: 160px;
	border-radius: 3px;
	background-color:  #e5e5e5;
	margin: 0 auto 30px;
}
.about-image-sm img{
	max-width: 100%;
	height: auto;
}
/*=====================  Working Process  ========================*/
.working-process{
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	padding: 90px 0 110px;
}
.working-process-body {
	padding-top: 40px;
}
.working-process-body h4::before{
	content: ".";
	font-size: 0px;
	display: block;
	width: 45px;
	border-top: 2px solid #f1b939;
	position: relative;
	top: 12px;
	right: 60px
}
.working-process-body h4{
	padding-left: 60px;
	padding-bottom: 7px;
	font-family: Nunito-reg;
	font-size: 20px;
	color: #f1b939;	
}
.working-process-body h1{
	width: 45%;
	margin: 0;
	font-family: SourceSansPro-bold;
	font-size: 45px;
	line-height: 54px;
	color: #333333;
	padding-bottom: 25px;
}
.step{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-start;
	padding: 7px 0;
}
.step .icon{
	display: block;
	height: 50px;
	width: 50px;
	margin: 15px 0;
	border-radius: 50%;
	background-color:#f1b939;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
}
.step h3{
	font-family: SourceSansPro-bold;
	font-size: 22px;
	color:#333333;
}
.step p{
	font-family: SourceSansPro-reg;
	font-size: 16px;
	color:#858585;
	word-break: break-all;
	padding-right: 12px;
}
/*=======================    Courses    ===========================*/
.featured-course{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 90px 0 110px;
}
.course-body {
	width: 45%;
	height: 100%;
	padding-top: 40px;
}
.course-body h4::before{
	content: ".";
	font-size: 0px;
	display: block;
	width: 45px;
	border-top: 2px solid #f1b939;
	position: relative;
	top: 12px;
	right: 60px
}
.course-body h4{
	padding-left: 60px;
	padding-bottom: 7px;
	font-family: Nunito-reg;
	font-size: 20px;
	color: #f1b939;	
}
.course-body h1{
	margin: 0;
	font-family: SourceSansPro-bold;
	font-size: 45px;
	line-height: 54px;
	color: #333333;
	padding-bottom: 25px;
}
.course-desc{
	display: flex;
	width: 100%;
	padding-bottom: 15px;
}
.course-desc h5{
	width: 20%;
	font-family: Nunito-bold;
	font-size: 20px;
}
.course-desc p{
	width: 80%;
	font-family: SourceSansPro-reg;
	font-size: 16px;
	line-height: 25px;
}
.result{
	padding: 16px 30px 0px;
	background-color: #f1b939;
	border-radius: 3px;
	color: #ffffff;
}
#courseDisc ul li{
	height: 8px;
	width: 8px;
	background-color: #d9d9d9;
	border-radius: 50%;
}
#courseDisc ul li.active{
	height: 10px;
	width: 10px;
	background-color: #f1b939;
}
#courseDisc .carousel-indicators{
	bottom: -60px;
	left: 0;
	align-items: center;
}
.course-body-image{
	width: 50%;
	height: 100%;
	position: absolute;
	top:0;
	right: 0;
}
#courseImage{
	width: 100%;
	height: 100%;
}
#courseImage .carousel-inner{
	height: 100%;
}
#courseImage .carousel-item{
	height: 100%;
}
.course-image{
	height: 100%;
}
.course-body-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*=======================  Appointment  ===========================*/
.appointment{
	width: 100%;
	background-image: linear-gradient(to right,rgba(92,92,92,.6),rgba(92,92,92,.6)),url(../images/bgApp.jpg);
	background-size: cover;
}
.appointment-body{
	width: 100%;
	padding: 120px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.appointment-body h1{
	margin: 0;
	padding-bottom: 45px;
	font-family: SourceSansPro-bold;
	font-size: 55px;
	text-align: center;
}
.appointment-body a{
	height: 50px;
	width: 210px;
	background-color: #f1b939;
	color: #ffffff;
	font-family: Nunito-bold;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	text-decoration: none;
}
.appointment-body a:hover{
	background-color: #e6b032;
}
/*======================  Our Solution  ==========================*/
.our-solutions{
	width: 100%;
	background-color: #f2f2f2;
	padding: 90px 0 180px;
}
.solution-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.solution-body h4{
	font-family: Nunito-reg;
	font-size: 20px;
	color:#f1b939;
}
.solution-body h4::before{
	display: block;
	content: "";
	font-size: 0px;
	width: 60px;
	border-top: 2px solid #f1b939;
	position: relative;
	top:15px;
	left:-73px;
}
.solution-body h4::after{
	display: block;
	content: "";
	font-size: 0px;
	width: 60px;
	border-top: 2px solid #f1b939;
	position: relative;
	bottom: 11px;
	right: -163px;
}
.solution-body h1{
	width: 40%;
	margin: 0;
	font-family: SourceSansPro-bold;
	font-size: 45px;
	line-height: 58px;
	color: #333333;
	padding-bottom: 30px;
}
#solution-card>div{
	overflow: hidden;
}
.solution-card{
	height: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #ffffff;
}
.solution-card:hover{
	box-shadow: 0px 0px 5px 5px #e7e7e7;
}
.solution-card .image{
	position: relative;
	box-sizing: border-box;
	height: 220px;
	width: 100%;
	background-color: #e5e5e5;
}
.solution-card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px 3px 0 0;
}
.image .overlayer{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: rgba(92,92,92,.5);
	transition: .5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}
.image .overlayer .icon{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color:#f1b939;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
}
.image .overlayer:hover{
	opacity: 1;
}
.card-heading{
	font-family: Nunito-bold;
	font-size: 25px;
	color: #333333;
}
.card-text{
	font-family: OpenSans-reg;
	font-size: 15px;
	color:#333333;
	text-align: left;
}
.card-body {
	padding: 40px 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
}
.solution-card a{
	text-decoration: none;
	color:#ffffff;
}
.card-button{
	background-color: #f1b939;
	color: #ffffff;
	font-family: Nunito-bold;
	font-size: 16px;
	height: 50px;
	width:180px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

#solution-card ul li{
	height: 8px;
	width: 8px;
	background-color: #d9d9d9;
	border-radius: 50%;
}
#solution-card ul li.active{
	height: 10px;
	width: 10px;
	background-color: #f1b939;
}
#solution-card .carousel-indicators{
	bottom: -90px;
	align-items: center;
}

/*=======================    Package   ===========================*/
.packeg{
	width: 100%;
	padding: 90px 0 110px;
	background-color: #ffffff;
}
.packeg-body{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.packeg-body h4{
	font-family: Nunito-reg;
	font-size: 20px;
	color:#ffc339;
}
.packeg-body h4::before{
	display: block;
	content: "";
	font-size: 0px;
	width: 60px;
	border-top: 2px solid #ffc339;
	position: relative;
	top:15px;
	left:-73px;
}
.packeg-body h4::after{
	display: block;
	content: "";
	font-size: 0px;
	width: 60px;
	border-top: 2px solid #ffc339;
	position: relative;
	bottom: 11px;
	right: -125px;
}
.packeg-body h1{
	width: 100%;
	margin: 0;
	font-family: SourceSansPro-bold;
	font-size: 45px;
	color: #333333;
	text-align: center;
	padding-bottom: 30px;
}
.packeg-body .row{
	width: 100%;
}
.packeg-box{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px 40px;
	border: 1px solid #efefef;
	border-radius: 5px;
}
.table{
	width: 100%;
	text-align: center;
}
.table th{
	border-top:0px;
}
.table th h2{
	font-family: SourceSansPro-bold;
	font-size: 30px;
	line-height: 58px;
	color: #333333;
}
.table th h5{
	font-family: Nunito-bold;
	font-size: 18px;
	color: #ffc339;
}
.table td{
	font-family: SourceSansPro-reg;
	font-size: 17px;
	line-height: 25px;
	color: #333333;
}
.table td span{
	color: #999999;
}
.table td .beginner{
	text-decoration: line-through;
}
.table td h1{
	padding-top: 15px;
}
.table td a{
	display: block;
	height: 50px;
	width: 180px;
	margin: 0 auto;
	border-radius: 3px;
	background-color:#ffc339;
	color: #ffffff;
	text-decoration: none;
	align-items: center;
	line-height: 50px;
	font-family: OpenSans-bold;
	font-size: 16px;
}
.elite-icon{
	position: absolute;
	height: 47px;
	width: 35px;
	border-radius: 5px;
	background-color: #ffc339;
	color: #ffffff;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	top: -5px;
	left:25px;
}
.star{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.star .layer{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 17px solid transparent;
	border-bottom-color: white;
	top: 0; 
	border-radius: 5px;
}
/*=======================  News  ===========================*/
.latest-news{
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	padding: 90px 0 110px;
}
.latest-news-body {
	padding-top: 40px;
}
.latest-news-body h4::before{
	content: ".";
	font-size: 0px;
	display: block;
	width: 45px;
	border-top: 2px solid #f1b939;
	position: relative;
	top: 12px;
	right: 60px
}
.latest-news-body h4{
	padding-left: 60px;
	padding-bottom: 7px;
	font-family: Nunito-reg;
	font-size: 20px;
	color: #f1b939;	
}
.latest-news-body h1{
	width: 45%;
	margin: 0;
	font-family: SourceSansPro-bold;
	font-size: 45px;
	line-height: 54px;
	color: #333333;
	padding-bottom: 25px;
}
.news-card{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background-color: #ffffff;
	margin: 30px 0 !important;
}
.news-card-image{
	position: relative;
	width: 100%;
	height: 250px;
	background-color: #e5e5e5;
	border-radius: 3px 3px 0 0 ;
}
.news-card-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px 3px 0 0;
}
.news-card-image .overlayer{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: rgba(92,92,92,.5);
	transition: .5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}
.news-card-image .overlayer .icon{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color:#f1b939;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
}
.news-card-body{
	width: 100%;
	padding: 30px;
	border-radius: 0 0 3px 3px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.news-card-body h5{
	font-family: Nunito-bold;
	font-size: 22px;
	color: #333333;
	line-height: 28px;
}
.news-card-body .date{
	font-family: SourceSansPro-reg;
	font-size: 16px;
	color: #666666;
	display: flex;
	align-items: center;
}
.news-card-body p{
	margin-bottom: 0px;
	padding-left: 8px;
}
.news-card:hover {
	box-shadow: 0px 0px 5px 5px #e7e7e7;
}
.news-card:hover .overlayer{
	opacity: 1;
}
.news-card:hover .news-card-body>h5{
	color: #f1b939;
}
/*=========================  Footer  =============================*/
.footer{
	padding: 90px 0 110px;
	background-color: #333333;
}
.footer-about{
	padding-bottom:30px;
}
.footer-about p{
	font-family: SourceSansPro-reg;
	font-size: 16px;
	color: #cccccc;
	padding: 30px 0;
}
.social-link .f-icon{
	height: 45px;
	width: 45px;
	background-color: #484848;
	border-radius: 50%;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f1b939;
}
.footer h2{
	font-family: Nunito-bold;
	font-size: 24px;
	color: #ffffff;
	padding-bottom: 20px;
}
.info ul{
	list-style: none;
}
.info li{
	padding-bottom: 16px;
}
.info li a{
	font-family: SourceSansPro-reg;
	font-size: 17px;
	color: #c2c2c2;
	text-decoration: none;
}
.info li a:hover{
	color:#f1b939;
}
.news{
	width: 100%;
	height: 100%;
}
.news-block{
	display: flex;
	align-items: flex-start;
	padding-top: 10px;
}
.news-image{
	width: 80px;
	height: 86px;
	border-radius: 3px;
	background-color: #e5e5e5;
}
.news-image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.news-content{
	width: 70%;
	padding-left: 20px;
}
.news-heading{
	font-family: Nunito-bold;
	font-size: 18px;
	color: #ffffff;
}
.news .comment{
	font-family: SourceSansPro-reg;
	font-size: 16px;
	color: #f1b939;
}
.copy{
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #444444;
	padding: 15px;
}
.copy p{
	font-family: SourceSansPro-reg;
	font-size: 16px;
	text-align: center;
	color: #888888;
	margin: 0 auto;
}
.copy a{
	font-family: SourceSansPro-bold;
	color: #ffffff;
	text-decoration: none;
}
/*================================================================*/
/*=======================  Responsive  ===========================*/
/*================================================================*/

@media only screen and (max-width: 1200px){
	.address{	
		flex-direction: column;
	}
}
@media only screen and (max-width: 992px){
	.course-body{
		width: 100%;
	}
	.course-body-image {
	    width: 100%;
	    height: auto;
	    position: relative;
	    top: 70px;
	}
}
@media only screen and (max-width: 991px) {
	.nav-body{
		margin: 0 15px;
		align-items: flex-start;
	}
	nav ul{
		position: relative;
		width: 100%;
		align-items: flex-end;
	}
	.address{
		margin-left: -15px;
	}
	.packeg-box{
		height: auto;
		margin: 30px 0;
	}
}
@media only screen and (max-width: 775px) {
	.news-card {
		height: auto;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 575px) {

	.top-bar .address {
		margin:0;
		padding: 10px 0;
		align-items: center;
	}
	.top-bar .social-link{
		flex-direction: row;
		justify-content: center;
		padding-bottom: 20px;
	}
	.about-image{
		align-items: center;
	}
	.about-image-sm{
		max-width: 100%;
		max-height:100%;
	}
	.about-image-sm img {
	    height: auto;
	    width: 100%;
	}
	.footer .about{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer .social-link{
		justify-content: center;
	}
	.footer .info{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer .news{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}